<section id="work" class="section section-work">
    <h2 class="section-header">Work</h2>
    <div class="work-grid-holder">
      <div class="work-grid">
        {% for item in site.projects %}
          <a href="{{item.permalink}}" class="work-grid-item">
            <h3 class="work-grid-item-title">{{item.title}}</h3>
            <p class="work-grid-item-responsiblities">{{item.responsibilities}}</p>
            <div class="work-grid-item-actions">
              <button aria-label="View details about the {{item.title}} project" class="work-grid-item-button">View Project</button>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>